name = "bitcoin"
section = "net"
build-depends = ["libstdc++-dev", "libm17n-dev", "libgcc-8-dev", "libc-dev", "libstdc++-dev"]
packages = ["bitcoind", "bitcoin-mainnet", "bitcoin-regtest", "bitcoin-fullchain-mainnet", "bitcoin-fullchain-regtest", "bitcoin-pruned-mainnet", "bitcoin-pruned-regtest", "bitcoin-txindex-mainnet", "bitcoin-txindex-regtest", "bitcoin-zmq-mainnet", "bitcoin-zmq-regtest", "bitcoin-cli"]
skip_debug_symbols = true
