name = "bitcoin"
section = "net"
variants = ["mainnet", "regtest"]
build-depends = ["libstdc++-dev", "libm17n-dev", "libgcc-8-dev", "libc-dev", "libstdc++-dev"]
packages = ["bitcoind", "bitcoin-@variant", "bitcoin-fullchain-@variant", "bitcoin-pruned-@variant", "bitcoin-txindex-@variant", "bitcoin-zmq-@variant", "bitcoin-cli"]
skip_debug_symbols = true
