name = "btc-rpc-explorer"
section = "net"
# regtest not supported yet
variants = ["mainnet", "regtest"]
build_depends = ["npm"]
packages = ["btc-rpc-explorer", "btc-rpc-explorer-@variant", "btc-rpc-explorer-both"]
skip_debug_symbols = true
