name = "btc-rpc-explorer"
version = "2.0.2"
section = "net"
build_depends = ["npm"]
packages = ["btc-rpc-explorer", "btc-rpc-explorer-mainnet", "btc-rpc-explorer-regtest", "btc-rpc-explorer-both", "btc-rpc-explorer-selfhost-mainnet", "btc-rpc-explorer-selfhost-regtest"]
