name = "btc-rpc-proxy"
version = "0.1.0"
section = "net"
build_depends = ["cargo:native (>= 0.34.0)", "gcc-aarch64-linux-gnu:native [arm64]"]
packages = ["bitcoin-rpc-proxy", "bitcoin-rpc-proxy-mainnet", "bitcoin-rpc-proxy-regtest", "bitcoin-rpc-proxy-both", "bitcoin-timechain-mainnet", "bitcoin-timechain-regtest"]
