name = "btcpayserver"
section = "net"
variants = ["mainnet", "regtest"]
build_depends = ["dotnet-sdk-8.0:native (>= 8.0.100-1)"]
packages = ["btcpayserver", "btcpayserver-system-@variant", "btcpayserver-system-both", "btcpayserver-lnp-system-@variant", "btcpayserver-no-lnp-system-@variant"]
skip_debug_symbols = true
