name = "electrum"
section = "net"
build_depends = [
	"python3:native | python3-all:native | python3-all-dev:native"
]
packages = ["electrum", "electrum-trustless-mainnet"]
skip_debug_symbols = true
skip_strip = true
