name = "electrs"
version = "0.8.3"
section = "net"
build_depends = ["cargo:native (>= 0.34.0)", "cmake (>= 3.13.4)", "clang:native (>= 1:7.0)", "llvm-dev:native", "gcc-aarch64-linux-gnu:native [arm64]", "librocksdb-dev"]
packages = ["electrs", "electrs-mainnet", "electrs-regtest"]
