name = "lnd"
version = "0.11.0"
section = "net"
build_depends = []
packages = ["lnd", "lncli", "lnd-system-mainnet", "lnd-system-regtest", "lnd-system-both", "lnd-auto-unlock", "lnd-unlocker-system-mainnet", "lnd-unlocker-system-regtest", "lnd-genmacaroon", "lnd-genmacaroon-system-mainnet", "lnd-genmacaroon-system-regtest"]
skip_debug_symbols = true
