name = "lnd"
version = "0.10.2"
section = "net"
build_depends = []
packages = ["lnd", "lncli", "lnd-system-mainnet", "lnd-system-regtest", "lnd-auto-unlock", "lnd-unlocker-system-mainnet"]
skip_debug_symbols = true
