name = "lnd"
section = "net"
variants = ["mainnet", "regtest"]
build_depends = []
packages = ["lnd", "lncli", "lnd-system-@variant", "lnd-system-both", "lnd-auto-unlock", "lnd-unlocker-system-@variant", "lnd-genmacaroon", "lnd-genmacaroon-system-@variant"]
skip_debug_symbols = true
