name = "lnpbp-testkit"
version = "0.1.0"
section = "net"
build_depends = ["python3-all", "dh-python", "python3-setuptools", "python3-xdg", "python3-toml", "python3-bitcoinlib", "python3-typing-extensions"]
packages = ["python3-lnpbp-testkit"]
skip_debug_symbols = true
with = ["python3"]
buildsystem = "pybuild"
