name = "nbxplorer"
section = "net"
variants = ["mainnet", "regtest"]
build_depends = ["dotnet-sdk-3.1:native"]
packages = ["nbxplorer", "nbxplorer-@variant", "nbxplorer-both"]
skip_debug_symbols = true
