name = "remir"
section = "net"
build_depends = ["python3-all", "dh-python", "python3-setuptools", "python3-bottle", "python3-toml"]
packages = ["python3-remir", "remir"]
skip_debug_symbols = true
with = ["python3"]
buildsystem = "pybuild"
