name = "ridetheln"
section = "net"
build_depends = ["npm:native"]
packages = ["ridetheln", "ridetheln-system", "ridetheln-lnd-system-mainnet", "ridetheln-lnd-system-regtest", "ridetheln-lnd-system-both", "ridetheln-system-selfhost"]
