name = "ridetheln"
version = "0.7.0"
section = "net"
build_depends = ["npm"]
packages = ["ridetheln", "ridetheln-system", "ridetheln-lnd-system-mainnet", "ridetheln-lnd-system-regtest", "ridetheln-system-selfhost"]
