name = "ridetheln"
section = "net"
variants = ["mainnet", "regtest"]
build_depends = ["npm:native"]
packages = ["ridetheln", "ridetheln-system", "ridetheln-lnd-system-@variant", "ridetheln-lnd-system-both"]
