name = "thunderhub"
section = "net"
build_depends = ["npm", "g++:native", "libnode-dev"]
packages = ["thunderhub", "thunderhub-system-mainnet", "thunderhub-system-regtest", "thunderhub-system-both", "thunderhub-system-selfhost-mainnet", "thunderhub-system-selfhost-regtest"]
skip_debug_symbols = true
