name = "thunderhub"
version = "0.8.14"
section = "net"
build_depends = ["npm"]
packages = ["thunderhub", "thunderhub-system-mainnet", "thunderhub-system-regtest", "thunderhub-system-both", "thunderhub-system-selfhost-mainnet", "thunderhub-system-selfhost-regtest"]
skip_debug_symbols = true
