name = "thunderhub"
section = "net"
build_depends = ["npm", "g++:native", "libnode-dev", "libvips-dev"]
packages = ["thunderhub", "thunderhub-system-mainnet", "thunderhub-system-regtest", "thunderhub-system-both"]
skip_debug_symbols = true
