location ^~ {{{root_path}}} {
	{{#document_root}}
	{{^dedicated_static_subdir}}
	alias {{{document_root}}};
	error_page 403 = @fallback-{{{root_path}}};
	try_files $uri $uri/ @fallback-{{{root_path}}};
	{{/dedicated_static_subdir}}
	{{#dedicated_static_subdir}}
	location ^~ {{{root_path}}}/{{{dedicated_static_subdir}}}/ {
		alias {{{document_root}}};
		try_files $uri @fallback-{{{root_path}}};
	}
	location ^~ {{{root_path}}} {
		error_page 418 = @fallback-{{{root_path}}};
		return 418;
	}
	{{/dedicated_static_subdir}}
}
location @fallback-{{{root_path}}} {
	{{/document_root}}
	{{#max_body_size}}
	client_max_body_size {{{max_body_size}}};
	{{/max_body_size}}
	{{#rewrite}}
	rewrite ^{{{root_path}}}$ / break;
        rewrite ^{{{root_path}}}(.*)$ $1 break;
	{{/rewrite}}
	{{#port}}
	proxy_pass http://127.0.0.1:{{port}};
	proxy_http_version 1.1;
	proxy_set_header Host $http_host;
	proxy_set_header X-Forwarded-Proto $scheme;
	proxy_set_header X-Real-IP $remote_addr;
	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	proxy_set_header Upgrade $http_upgrade;
	proxy_cookie_path ~^{{{root_path}}}$ /;
	proxy_cookie_path {{{root_path}}}/ /;
	proxy_cookie_path / {{{root_path}}};
	{{/port}}

	{{#include_custom}}
	include {{{include_custom}}};
	{{/include_custom}}
}
