#!/bin/bash

. /usr/share/debconf/confmodule

NETWORK=mainnet

# We say that it needs around 10GB to accounf for UTXO set growth.
test `df /var | tail -1 | awk '{ print $4; }'` -lt 10000000 && DATADIR_PRIO=high || DATADIR_PRIO=medium

db_input $DATADIR_PRIO bitcoin-$NETWORK/datadir || true
db_input low bitcoin-$NETWORK/rpcport || true
db_input low bitcoin-$NETWORK/rpcuser || true
db_input low bitcoin-$NETWORK/dbcache || true
db_go
